@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
body {
    font-family: 'Comforter Brush', cursive;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}